<h1>
    Editar Puesto
</h1>
<form action = "editarPuesto" method = "POST" style = "font-size : large">
    <div>
        <label for = "nomPuesto">Nombre del puesto:</label>
        <input type = "text" id = "nomPuesto" name = "nomPuesto" required>
    </div>
    <div>
        <label for = "salario">Salario por hora:</label>
        <input type = "text" id = "salario" name = "salario" required>
    </div>
    <div>
        <button formaction = "editarPuestoB"
        id = "editarPuestoBoton"
        name = "editarPuestoBoton">Editar</button>
    </div>
</form>