<h1>Insertar Articulo</h1>
<script>
    function activarBoton (){
        var nombre = document.getElementById('name').value;
        var precio = document.getElementById('precio').value;

        if (nombre=="" || precio ==""){
            document.getElementById('insBoton').disabled=true;
        }
        else{
            if (!isNaN(Number(precio))){
                document.getElementById('insBoton').disabled=false;
            }
        }
    }

</script>
<form action = "insertar" method = "POST">
    <div>
        <label for = name>Nombre:</label>
        <input type = "text" id = "name" name = "name" onchange="activarBoton()">
    </div>
    <div>
        <label for = pass>Precio:</label>
        <input type = "text" id = "precio" name = "precio" onchange="activarBoton()">
    </div>
    <div>
        <button formaction = "insertarB" name="insBoton" id="insBoton" disabled>OK</button>
        <button formaction = "cancelar">Cancelar</button>
    </div> 
</form>