<h1>Insertar Puesto</h1>
<form action = "insertarPuesto" method = "POST">
    <div>
        <label for = nombrePuesto>Nombre del puesto:</label>
        <input type = "text" id = "nombrePuesto" name = "nombrePuesto" required>
    </div>
    <div>
        <label for = salario>Salario por hora:</label>
        <input type = "text" id = "salario" name = "salario" required>
    </div>
    <div>
        <button formaction = "insertarPuestoB" name="insPuestoB" id="insPuestoB">Insertar</button>
        <button formaction = "cancelar">Cancelar</button>
    </div> 
</form>