<h1>Iniciar Sesion</h1>
<form action = "login" method = "POST">
    <div>
        <label for = name>Usuario:</label>
        <input type = "text" id = "name" name = "name" required>
    </div>
    <div>
        <label for = pass>Contraseña:</label>
        <input type = "text" id = "pass" name = "pass" required>
    </div>
    <div>
        <button type = "submit">Iniciar sesión</button>
    </div>
    <div>
        <%=mensaje%>
    </div>
</form>