<h1>
    <% if (tipoDatos == "puestos") { %>
    PUESTOS
    <% } else if (tipoDatos == "empleados") { %>
    EMPLEADOS
    <% } else { %>
    VENTANA PRINCIPAL
    <% } %>
    <script>
        function deshabilitarBoton(){
            var cant = document.getElementById('cantidad').value;
            cant = Number(cant);
            if (cant == "" || (!isNaN(cant) && cant == Math.trunc(cant))){
                document.getElementById('cantBoton').disabled = false;
            }
            else{
                document.getElementById('cantBoton').disabled = true;    
            }
        }
    </script>
    <form action = "ventanaPrincipal" method = "POST">
        <div>
            <button formaction = "listarPuestos" name = "listarPuestosB">
                Listar Puestos
            </button>
            <button formaction = "listarEmpleados" name = "listarEmpleadosB">
                Listar Empleados
            </button>
        </div>
        <div>
            <input type = "text" id = "nomEmpleado" name = "nomEmpleado">
            <button formaction = "filtrarEmpleado" name = "nomEmpleadoBoton">
                Filtrar nombre
            </button>
        </div>
        </div>
        <div>
            <button formaction = "insertarEmpleado" name = "nuevoEmpleadoBoton">
                Insertar nuevo empleado
            </button>
            <button formaction = "insertarPuesto" name = "nuevoPuestoBoton">
                Insertar nuevo puesto
            </button>
            <button formaction = "salir" name = "salirBoton">
                Salir
            </button>
        </div>
    </form>
</h1>
<div>
    <%=mensajeError%>
    <% if (tipoDatos == "puestos") { %>
        <table>
            <thread>
                <tr>
                    <th class = "text-center">Nombre del puesto</th>
                </tr>
            </thread>
            <tbody>
                <% for (puesto of datos) {%>
                    <% if (puesto[0] == false) { %>
                    <tr>
                        <td>
                            <%=puesto[1].Puesto%>
                        </td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    <% } else if (tipoDatos == "empleados") { %>
        <table>
            <thread>
                <tr>
                    <th class = "text-center">Nombre</th>
                    <th class = "text-center">Puesto</th>
                </tr>
            </thread>
            <tbody>
                <% for (empleado of datos) {%>
                    <% if (empleado[0] == false) { %>
                        <tr>
                            <td>
                                <%=empleado[1].Nombre%>
                            </td>
                            <td>
                                <%=empleado[1].Puesto%>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    <% } else {} %>
</div>